.main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 36px;
}

.card {
  width: 360px;
  max-width: 100%;
  height: fit-content;
}

.horizontalCardImage {
  max-width: 44px;
  max-height: 44px;
}

.headerImage {
  max-width: 44px;
  max-height: 44px;
}
